:root {
  --main-blue: #00BCD4;
}

body {
  overflow: hidden;
  margin: 0;
  font-family: Helvetica, sans-serif;
}

h1, h5, form {
  margin: 0
}

#app {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
}

.active_users_panel {
  height: 100%;
  flex: 1;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.panel_title {
  margin: 40px 0;
}

.panel_items {
  margin: 10px 0;
  color: var(--main-blue);
  cursor: pointer;
}

.panel_items:hover {
  opacity: 0.5;
}

.panel_items.active {
  color: green;
}

.active_chat_panel {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 3;
  border: 1px solid #000;
}

.conversation {
  flex: 3;
  border: 1px solid #000;
}

.chat_form {
  flex: 1;
  border: 1px solid #000;
}
